/* === FARBEN === */
/* Blau:        #1F4E8C;
Dunkel Grau:    #3D3F45;
Hell Grau:      #E5E5E5;
Rot:            #A62C21;
*/

/* === GLOBAL === */
html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', Arial, sans-serif;
    color: #a7a7f3;
}

* {
    box-sizing: border-box;
}

/*:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #E5E5E5, 0 0 10px #E5E5E5;
}*/

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (max-width: 1366px) {
    section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 1024px) {
        section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

@media (max-width: 768px) {
        section {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

/* === GENERELLES === */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.active {
    background-color: #0000FD !important;

}

.wichtiger-text {
    font-weight: bold;
}

.screenreader {
    display: none;
}

.intro-container {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
.intro-container > h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.intro-container > p {
    font-size: 1.2rem;
}

@media (max-width: 1366px) {
    .intro-container {
       width: 90%;
    }

    .intro-container > p {
        margin-bottom: .5rem;
    }
}

@media (max-width: 1024px) {
    .intro-container {
        width: 100%;
    }
    .intro-container > p {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .intro-container {
        margin-bottom: 1rem;
    }
}

/* === BUTTONS === */

.btn-typ-1 {
    background-color: #0000FD;
    border: 2px solid #0000FD;
    color: #FFF;
   
    padding: .4rem .6rem;
    transition: border .5s ease-in-out;
}

.btn-typ-1:hover {
    border: 2px solid #FF1493;
    color: #FF1493;
    font-weight: normal;
}

.btn-typ-2 {
    background-color: transparent;
    border: 2px solid white;
    color: #FFF;
    padding: .4rem .6rem;
    transition: color .5s ease-in-out, border .5s ease-in-out;
}

.btn-typ-2:hover {
    color: #FF1493;
    border: 2px solid #FF1493;
    font-weight: normal;
}

.btn-typ-3 {
    background-color: transparent;
    border: 2px solid #3D3F45;
    font-size: 1rem;
    color: #3D3F45;
    transition: border .5rem ease-in-out;
}

.btn-typ-3:hover {
    border: 2px solid #FF1493;
    font-weight: normal;
    color: #FF1493;
}

/* === NAVIGATIONSLEISTE === */

#header-nav {
    width: 100%;
    height: 50px;
    background-color: #a7a7f3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.1);
    position: relative;
    font-size: 1.2rem;
}

#header-nav a > img {
    height: 40px;
    width: auto;
    margin: .4rem;
    float: left;
}

#header-nav ul {
    margin: 0;
    padding: 0;
    float: right;
    height: 100%;
}

#header-nav ul > li {
    display: inline-block;
    height: 100%;
    padding: 0 .2rem 0 .2rem;    
}

#header-nav ul > li > a {
    margin-top: 0.8rem;
    display: inline-block;
}

#header-nav ul > li > a:link {
    color: #FFF;
    text-decoration: none;
}

#header-nav ul > li > a:visited {
    color: #FFF;
    text-decoration: none;
}

#header-nav ul > li > a:active {
    color: #FF1493;
    text-decoration: none;
}

#header-nav ul > li > a:hover {
    color: #FF1493;
    text-decoration: none;
}

#header-nav .col-6 {
    padding-top: 0;
    padding-bottom: 0;
}

#header-nav .container,
#header-nav .row,
#header-nav .col-6 {
    height: 100%;
}

.logo-link {
    display: inline-block;
}
/* === NAVIGATIONSLEISTE (MOBIL) === */

#mobile-nav-button {
    color: #FF1493;
    float: right;
    font-size: 2rem;
    border: 2px solid #FF1493;
    width: 37px;
    height: 37px;
    position: relative;
    margin-top: 7px;
    margin-bottom: 10px;
}

#mobile-nav-button span {
    position: absolute;
    bottom: -2px;
    left: 7px;
}

#mobile-nav-content > ul > li {
    display: block;
    background-color: #a7a7f3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 50px;
    padding: 0 1.2rem;
    text-align: center;
}

#mobile-nav-dropdown {
    position: relative;
    float: right;
}

#mobile-nav-content {
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
}

#mobile-nav-dropdown:hover > #mobile-nav-content {
    display: block;
}

#mobile-nav {
    display: none;
}

@media (max-width: 768px) {
    #desktop-nav {
       display: none; 
    }
    #mobile-nav {
        display: block;
    }
}

/* === HEADER-BANNER=== */

#header-banner {
    width: 100%;
    height: 0;
    padding-top: 22.28%;
    background: url("../img/hintergrund.PNG") no-repeat;
    background-size: contain;
}

/*
1382px * 271px
1000px * ???? ( 19.61px)
Wie viel % von 1382px sind 271px?
271 / 1382 * 100 = 19.61%
*/

#header-banner-klein {
    width: 100%;
    height: 0;
    padding-top: 10.58%;
    background: url("../img/hintergrund-klein.PNG") no-repeat;
    background-size: contain;
} 



/* === NEWSLETTER-BEREICH ===*/
#newsletter-bereich {
    width: 100%;
    background-color: #a7a7f3;
    padding-bottom: 0;
    padding-top: 0;
}

#nb-werbetext {
    color: #FFF;
    font-size: 1.2rem;
    margin: 0;

}

#nb-form {
    margin-top: .3rem;
    width: 100%;
    float: right;
    text-align: right;
}

#nb-email-input {
    width: 65%;
    height: 35px;
    border: 2px solid #FFF;
    padding: .4rem;
}

#nb-btn {
    height: 35px;
}

@media (max-width: 1822px) {
    #nb-email-input {
    width: 60%;
}}

@media (max-width: 1358px) {
    #nb-email-input {
    width: 100%;
    margin-bottom: .5rem;
}
    #nb-btn {
    width: 100%;
}}

@media (max-width: 768px) {
    #nb-werbetext {
        display: none;
    }

    #nb-form {
        margin-top: 0;
    }

    #newsletter-bereich .col-4 {
        display: none;
    }}

@media (max-width: 480px) {
    #nb-email-input {
        height: 25px;
    }
    #nb-btn {
        height: 25px;
        padding: .1rem;
    }
}

/* === ANEMIERTES LOGO === */

@keyframes logoAnimation {
    0%       {transform: rotateZ(0deg);  }
    11.111%  {transform: rotateZ(0deg);  }
    22.222%  {transform: rotateZ(90deg); }
    33.333%  {transform: rotateZ(90deg); }
    44.444%  {transform: rotateZ(180deg);}
    55.555%  {transform: rotateZ(180deg);} 
    66.666%  {transform: rotateZ(270deg);}
    77.777%  {transform: rotateZ(270deg);}
    88.888%  {transform: rotateZ(360deg);}
    100%     {transform: rotateZ(360deg);}
}

@keyframes logoAnimation {
    0%       {transform: rotateZ(0deg);  }
    11.111%  {transform: rotateZ(0deg);  }
    22.222%  {transform: rotateZ(90deg); }
    33.333%  {transform: rotateZ(90deg); }
    44.444%  {transform: rotateZ(180deg);}
    55.555%  {transform: rotateZ(180deg);} 
    66.666%  {transform: rotateZ(270deg);}
    77.777%  {transform: rotateZ(270deg);}
    88.888%  {transform: rotateZ(360deg);}
    100%     {transform: rotateZ(360deg);}
}

#animiertes-logo {
    height: 150px;
    width: 150px;
    background-color: #a7a7f3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.1);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    padding: 25px;
}

#animiertes-logo > img {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    animation: logoAnimation 5s ease-in-out infinite alternate;
}

/* === LEISTUNGEN-BEREICH === */

#leistungen-bereich {
    padding-top: 1rem;
}

.leistungs-teaser-box {

    background-color: #a7a7f3;
    text-align: center;
    color: #FFF;
    border-radius: 15px;
    padding: 1rem 3rem 2.5rem;
    width: 60%;
    margin-bottom: 1.6rem;
}

#leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-teaser-box {
    margin-right: auto;
    margin-left: 1rem;
}

#leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-teaser-box {
    margin-right: 1rem;
    margin-left: auto;
}

.leistungs-teaser-box > h2 {
    font-size: 1.4rem;
}

.leistung-ansehen-btn {
    text-decoration: none;
    height: 40px;
    display: inline-block;
    padding-top: .5rem;
    width: 40%;
    min-width: 100px;
    margin-top: 1rem;
}

.leistung-ansehen-btn:link {
    color: #FFF;
}

.leistung-ansehen-btn:visited {
    color: #FFF;
}

.leistung-ansehen-btn:active {
    color: #FFF;
}

.leistung-ansehen-btn:hover {
    color: #FF1493;
    border: 2px solid #FF1493;
}

@media (max-width: 1366px) {
    .leistungs-teaser-box {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .leistungs-teaser-box {
        width: 100%;
        margin-bottom: .6rem;
    }

    #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-teaser-box {
        margin-left: .5rem;
    }
    
    #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-teaser-box {
        margin-right: .5rem;
    }
}

@media (max-width: 768px) {

    #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-teaser-box {
        margin-left: 0;
    }
    
    #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-teaser-box {
        margin-right: 0;
    }
}

@media (max-width: 480px) {

    .leistungs-teaser-box {
        padding: 1rem 1.5rem 2.5rem;
    }
}

/* === VIDEO-BEREICH === */

#video-bereich {

    background-color: #3D3F45;
    color: #FFF;
}

#video-bereich video {
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (max-width: 1440px) {
    #vodeo-bereich video {
        width: 45%;
    }
}

@media (max-width: 1024px) {
    #vodeo-bereich video {
        width: 60%;
    }
}

@media (max-width: 768px) {
    #vodeo-bereich video {
        width: 75%;
    }
}

@media (max-width: 480px) {
    #vodeo-bereich video {
        width: 100%;
    }
}

/* === SERVICE-BEREICH === */

.service-box {
    text-align: center;
    width: 80%;
}

.service-box h1 {
    font-size: 1.4rem;
}

#service-bereich .row:nth-of-type(2) > .col-2:first-of-type >.service-box {
    margin-right: 0;
    margin-left: auto;
}

#service-bereich .row:nth-of-type(2) > .col-2:nth-of-type(2) >.service-box {
    margin-right: auto;
    margin-left: auto;
}

.service-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s;
}

.service-icon:hover {
    transform: rotateZ(360deg);
}

#guenstig-icon {
    background: url("../img/Geld.PNG"); 
    background-size: contain;
}

#schnell-icon {
    background: url("./../img/Uhr.PNG"); 
    background-size: contain;
}

#modern-icon {
    background: url("./../img/Handy.PNG");
    background-size: contain;
}

@media (max-width: 768px) {
    #service-bereich > .container > .row:nth-of-type(2) > .col-2 > .service-box {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
}

@media (max-width: 480px) {
    #service-bereich > .container > .row:nth-of-type(2) > .col-2 > .service-box {
        width: 100%;
    }
}

/* === ÜBER-UNS-BEREICH === */

.über-uns {
    background-color: #a7a7f3;
    color: #FFF;
    height: 1000px;
}

#über-uns-container {
    background-color: #a7a7f3;
}

#über-uns-container {
   position: relative;
   width: 85%;
   margin-right: auto;
   margin-left: auto;
}

#über-uns-container p {
    margin-top: 0;
}

#über-uns-container > img {
    position: absolute;
    top: 0;
    right: 100px;
    height: 100%;
}

#über-uns-container > p {
    width: 75%;
    font-size: 1.2rem;
}

@media (max-width: 1550px) {
    #über-uns-container > img {
        right: 50px;
    }
}

@media (max-width: 1440px) {
    #über-uns-container > img {
        right: 0;
    }
}


@media (max-width: 1280px) {
    #über-uns-container > p {
        width: 50%;
    }
    #über-uns-container > img {
        right: 0;
  
    }
}

@media (max-width: 1150px) {
    #über-uns-container p {
        width: 100%;
    
    }
    #über-uns-container > img {
        display: none; 
    }
}


/* === FOOTER === */

#footer {
    background-color: #3D3F45;
    height: 3.8rem;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
}

#footer-nav {
    float: right;
}

#footer-nav a {
    text-decoration: none;
}

#footer-nav a:link {
    color: #FF1493;
}

#footer-nav a:visited {
    color: #FF1493;
}

#footer-nav a:active {
    color: #FF1493;
}

#footer nav a:hover {
    color: #0000FD;
}

@media (max-width: 565px) {
    #footer span {
        display: none;
    }
}

/* === LEISTUNGEN-SEITE === */

.leistung {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.leistung:nth-of-type(even) {
    background-color: #ebebf8;
}

.flex-container {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
}

.flex-container > .intro-container {
    width: 100%;
}

.leistungs-box {
    background-color: #a7a7f3;
    color: #FFF;
    border-radius: 15px;
    flex-basis: 25%;
    padding: 2rem 4rem;
    text-align: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.leistungs-box-empfohlen {
    flex-basis: 27.5%;
    min-height: 500px;
    box-shadow: 0 0 20px 0 #3D3F45;
    font-size: 1rem;
}

.leistungs-box h1 {
    margin-bottom: 0;
}

.leistungs-box ul {
    padding: 0;
}

.leistungs-box ul > li {
    list-style-position: inside;
    margin-bottom: .1rem;
}

.leistung-auswählen-btn {
    width: 70%;
    height: 2.5rem;
    font-size: 1rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    min-width: 170px;
}

@media (max-width: 1622px) {
    .leistungs-box {
        flex-basis: 30%;
    }
    .leistungs-box-empfohlen {
        flex-basis: 32.5%;
    }
}

@media (max-width: 1488px) {
    .leistungs-box {
        padding: 1rem 2rem;
    }
    .flex-container {
        align-items: stretch;
    }
    .leistungs-box-empfohlen {
        min-height: initial;
    }
}

@media (max-width: 1366px) {
    .flex-container {
        width: 90%;
    }
}

@media (max-width: 1088px) {
    .flex-container {
        width: 80%;
        flex-direction: column;
        padding: 0;
    }
    .leistungs-box {
        padding: 2rem 4rem;
        margin-bottom: 2rem;
        min-height: initial;
    }
}

@media (max-width: 1024px) {
    .flex-container {
        width: 100%;
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

@media (max-width: 768px) {
    .flex-container {
        width: 90%;
    }
}

@media (max-width: 409px) {
    .leistungs-box {
        padding: 1rem 2rem;
    }
}

@media (max-width: 338px) {
    .leistungs-box {
        padding: .5rem 1rem 2rem 1rem;
    }
}

/* === KONTAKT-SEITE === */

#kontakt-bereich {
    padding-top: 1rem;
}

#kontakt-formular input,
#kontakt-formular textarea {
    width: 100%;
    border: 2px solid #3D3F45;
    padding: .5rem;
    font-size: 1rem;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', Arial, sans-serif;
    color: #3D3F45;
    transition: border .5s ease-in-out;
}

#kontakt-formular textarea {
    height: 100px;
}

#kontakt-formular input:hover,
#kontakt-formular textarea:hover {
    border: 2px solid #FF1493;
}

#absendenButton {
    width: 150px;
    height: 39px;
}

#kontakt-formular {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

@media (max-width: 1366px) {
    #kontakt-formular {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    #kontakt-formular {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #kontakt-formular button {
        width: 100%;
    }
}

/* === IMPRESSUM === */

#impressum {
    padding-top: 1rem;
}

#impressum a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

/* === GRID-SYSTEM ===*/
.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding: .8rem;
   
}
.col-1 { width: 16.666%;}
.col-2 { width: 33.333%;}
.col-3 { width: 50%;}
.col-4 { width: 66.666%;}
.col-6 { width: 100%;}

@media (max-width: 1024px) {
    .col-1 { width: 33.333%;}
}

@media (max-width: 768px) {
    .col-1 { width: 50%;}
    .col-2 { width: 100%;}
    .col-3 { width: 100%;}
    .col-4 { width: 100%;}
}

@media (max-width: 480px) {
    .col-1 { width: 100%;}
    .col-2 { width: 100%;}
    .col-3 { width: 100%;}
    .col-4 { width: 100%;}
}


/* === WICHTIGE BREAKPOINTS === 

480 Pixel (iPhone Querformat)
768 Pixel ( iPad Hochformat)
1024 Pixel (iPad Querformat)
*/

